page-home {

.button1{
    background-color:twitter;
   // background-color:twitter;
    width:180px;
    padding: 20px 30px 20px 30px;
    
}
.ToastStyling{
                background-color: green;
}
#buttonID{
    padding: 5px 5px 5px 5px;
}
#buttonTitle{
    padding: 5px 5px 5px 5px;    
}
#buttonDiv{
    margin-left: 10%;
    margin-right: 10%;
    
    
    
}
     
}
