page-risk-title-report {

    th,td{
        padding: 10px 10px 10px 10px;
        align-content: center;
       }
       th{
        background-color: #f2f2f2;            
       }


       #titleReportButton{
        margin-left:10%;
        margin-right:10%;
        margin-top:20%;
        width:80%;
       }
      

}
